.TransactionTable {
    margin-top: 20px;
    width: 450px;
    height: 320px;
    border: solid 1px;
    border-color: black;
}

.container {
    border:  solid 1px;
    border-color: black;
    background-color: white;
    color: black;
}
.top{
    background-color: black;
    opacity: 0.8;
    color: aliceblue;
}
.info{
    
}
.type{
    background-color: aquamarine;
}

.amount{
    background-color: red;
}

.currency{
    background-color: blue;
}